#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

#site-canvas {
  width: 100%;
  height: 100vh;
  top: 0;
  padding-top:0;
  margin-top: 0;
  position: absolute;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

#site-menu {
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -200px;
  background: black;
  font-size: 1.8em;
  color: white;
  margin-top: -15px;

  .list-group {
    padding-top: 15px;
  }

  .list-group-item {
    border: none;
    padding-left: 25px;
    cursor: pointer;
    font-weight: 100;
    border-radius: 0;
    &:hover {
      color: black;
      background-color: white;
    }
  }
}

#site-wrapper.show-nav #site-canvas {
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
}

a {
  cursor: pointer;
}

input {
  &:focus {
    outline: none;
  }
}


nav {
  margin-top: 1em;
}

pre {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}

.codeList {
  li {
    &:hover {
      background-color: black;
      color: yellow;
    }
  }
}

.projectHierarchy {
  /*margin-left: 50px;*/
  font-size: 1.2em;
}

.roundPic {
  border-radius: 50%;
}

.navIcons {
  float: right;
  .navIcon {
    margin-right: 1em;
  }
}

.navIcon {
  &:hover {
    color: purple;
  }
}

#navLogo {
  margin-left: 0.5em;
}

.fa-star:hover {
  color: gold;
}

.fa-sign-in:hover {
  color: green;
}

#bigSearch {
  font-weight: 100;
  width: 100%;
  font-size: 4em;
  padding-left: 0.3em;
  border: none;
  border-bottom: 1px solid lightgray;
}

.blackBack {
  background-color: black;
}

.whiteOnBlack {
  color: white;
  background-color: black;
}

#content {
  height: 100vh;
}

