a {
  cursor: pointer;
}

nav {
  margin-top: 1em;
}

pre {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}

.codeList {
  li {
    &:hover {
      background-color: black;
      color: yellow;
    }
  }
}

.projectHierarchy {
  /*margin-left: 50px;*/
  font-size: 1.2em;
}

.roundPic {
  border-radius: 50%;
}

.navIcons {
  float: right;
  .navIcon {
    margin-right: 1em;
  }
}

.navIcon {
  &:hover {
    color: purple;
  }
}

#navLogo {
  margin-left: 0.5em;
}

.fa-star:hover {
  color: gold;
}

.fa-sign-in:hover {
  color: green;
}

