<!-- Get contents of a file-->
<input type='text' ng-model='github.username' placeholder='Github Username' autofocus>
<input type='text' ng-model='github.reponame' placeholder="User's repo name">
<input type='text' ng-model='github.filepath' placeholder='Repo file path'>
<button submit-github>Show Repo File</button><br>

 <!-- get SHA for tree -->
<input type='text' ng-model='github.username' placeholder='Github Username' autofocus>
<input type='text' ng-model='github.reponame' placeholder="User's repo name">
<input type='text' ng-model='github.branchname' placeholder='Branch name'>
<button github-branch>Get SHA for repo branch</button>

<div ng-if='directoryStructure' class='col-xs-12'>
  <!-- Title Display -->
  <div class='text-center h2 col-xs-12'>
    <a ng-href='{{repo.url}}'>{{repo.name.toUpperCase()}}</a>
  </div>
  <div class='text-center h5'>
    ({{repo.branchName}})
  </div>
  <p class='text-center'>{{repo.description}}</p>

  <!-- Project Hierarchy Display -->
  <div class='col-xs-12 col-sm-4 col-sm-offset-2'>
    <code id='code'>
      <div class='projectHierarchy' ng-repeat='file in directoryStructure'>
        <a ng-if='isAFile(file)' ng-click='getFile($index)'>{{file}}</a>
        <span ng-if='!isAFile(file)'>{{file}}</span>
      </div>
    </code>
  </div>

  <!-- Github profile of author of code -->
  <div class='col-xs-12 col-sm-6 text-center h3'>
    <img class='roundPic' ng-src='{{repo.userAvatar}}' width='100' height='100'><br>
    <a ng-href='{{repo.userGithubLink}}'>{{repo.username}}</a>
  </div>
</div>

<!-- Code block -->
<div ng-if='githubApi' class='col-xs-12 col-md-7'>
  <h2 class='text-center'> {{filepath}} </h2>
  <pre ng-if='!fileIsJson(filepath)'><code>
    <ol class='codeList' ng-bind-html='githubApi'></ol>
  </code></pre>
  <pre ng-if='fileIsJson(filepath)' pretty-json='githubApi'><code>
  </code></pre>
</div>

<!-- Discussion Section -->
<div class='col-xs-12 col-md-5' ng-if='githubApi'>
  <h2 class='text-center'> DISCUSSION SECTION </h2>
</div>